@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 90px 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}


/* 

NAVBAR ↓

*/

#landing {
    transform: none;
}

nav {
    display: flex;
    padding-top: 32px;
    
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    
}

.nav__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav__logo--image {
    width: 2.5rem;
    margin-right: 0.75rem;
}

.nav__logo--title {
    font-size: 1.5rem;
    font-weight: 900;
}

.nav__logo--title:hover {
    color: rgb(100 21 255);
}

.navlinks {
    display: flex;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.navlink {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.25rem;
    margin: 0px 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-bottom-width: 2px;
    letter-spacing: 0.025em;
    text-decoration: none;
    color: #1a202c;
}

.navlink:hover{
    border-color: rgb(100 21 255);
    color: rgb(100 21 255 );
    border-bottom: solid 3px;
    border-radius: 2px;
      padding: 5px 0;
}

.navlink--auth {
    color: #1a202c;
    text-decoration: none;
    margin: 0px .75rem;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 3rem;
}
.navlink--auth:hover {
    border-color: rgb(100 21 255);
    color: rgb(100 21 255 );
    padding: 5px 0;
    border-bottom: solid 3px;
    border-radius: 2px;
}

.navlink--signup {
    padding: 0.75rem 2rem;
    font-weight: 600;
    font-size: 1rem;
    background-color: #6415ff;
    color: #f7fafc;
    margin-left: 1rem;
    border-radius: 9999px;
    border-bottom-width: 0px;
    border: none;
    text-decoration: none;
}

.navlink--signup:hover {
    background-color: #4b0db9;
}

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}


/* 

HEADER / ABOUT US ↓

*/
.two-column {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: flex;
    max-width: 1280px;
    width: 100%;
    padding-right: 20px;
    flex: 1;
    height: 60vh;
}

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 40%;
}

.header__content--title {
   font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.25;
    --tw-text-opacity: 1;
    color: rgb(26 32 44);
}

.header__content--paragraph {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 1rem;
}

.header__content--input {
    position: relative;
}

.header__content--input-field {
    width: 80%;
    position: relative;
    border-radius: 9999px;
    border-width: 2px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    font-weight: 500;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
}

.header__content--input-btn {
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 6.3rem;
    padding-top: 11px;
    padding-right: 2px;
    display: flex;
    position: absolute;
    width: 25%;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 9999px;
    background-color: rgb(100 21 255);
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(247 250 252 / var(--tw-text-opacity));
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
    cursor: pointer;
}

.header__content--input-btn:hover {
    background-color: #4b0db9;
}

.header__content--input-paragraph {
    margin-top: 5rem;
    font-size: 0.75rem;
    font-weight: 500;
    opacity: .5;
    color: gray;
}

.header__content--image {
    width: 100%;
    min-width: 0px;
    max-width: 32rem;
    opacity: .5;
    padding: 2px;
}

.header__content2 {
    flex: 1;
    display: flex;
    justify-content: center;
}


.header__content2--image {
    width: 100%;
}

/* 

FEATURES ↓

*/


#features {
    position: relative;
    transform: none;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__subtitle {
    font-size: 18px;
    padding-bottom: 1.5rem;
    font-weight: 700;
    letter-spacing: 1.5;
}

.features__title {
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
    font-size: 50px;
}

.features__paragraph {
    text-align: center;
    font-size: 14px;
    max-width: 40%;
    opacity: .7;
}

.row__narrow {
    padding-bottom: 15px;
}

.features__services--container {
    display: grid;
    position: relative;
    padding-top: 20px;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
}

.features__services--card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 38px ;
}

.features__services--image-container {
    position: relative;
    bottom: 30px;
    justify-content: center;
    padding-right: 1rem;

}

.card__icon--container {
    display: flex;
    border: rgb(162, 162, 162) solid 1px;
    border-radius: 50%;
    padding: 1rem;
    background-color: #fefefe;
}

.card__icon {
    display: flex;
}

.features__services--title {
    padding-bottom: 5px;
}
.features__services--paragraph {
    line-height: 2;
    max-width: 80%;
}


/* 

QUALITY WORK ↓

*/

.quality__container {
    position: relative;
    padding: 96px 36px;
}

.quality__twocolumn {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    padding: 5rem 0;
    margin-left: auto;
    margin-right: auto;
}

.quality__rightcol {
    position: relative;
    width: 100%;

}

.quality__twocol--image {
    border-width: .25rem;
    border: rgb(186, 184, 184) 2px solid;
    width: 100%;
}

.quality__leftcol {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 60%;
    text-align: start;
    padding-right: 20px;
    flex-direction: column;
}

#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quality__subtitle {
    font-size: 20px;
    font-weight: 700;
    position: relative;
    bottom: 6rem;
}

.quality__title {
    font-size: 50px;
    font-weight: 900;
    max-width: 100%;
    position: relative;
    bottom: 4.5rem;
}

.quality__paragraph {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: rgb(168, 167, 167);
    bottom: 3rem;
}

.quality__btn {
    position: relative;
    background-color: #6415ff;
    border-radius: 9999px;
    max-width: 140px;
    height: 42px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: .875rem;
    padding-top: 10px;
    bottom: 1rem;
    font-size: 15px;
    font-weight: 600;
}

.quality__btn:hover {
    background-color: #4b0db9;
}


/* 

STEPS ↓

*/


.steps__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 90px 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.steps__twocol {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    padding: 5rem 0;
    margin-left: auto;
    margin-right: auto;
}

.steps__leftcol {
    position: relative;
    width: 100%;
    max-width: 50%;
}

.steps__leftcol--image {
    position: relative;
    bottom: 5rem;
    right: 6rem;
    display: flex;
    width: 120%;
    height: auto;
}
.steps__rightcol {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding-left: 5rem;
}

.steps__subtitle {
    position: relative;
    text-align: start;
    font-size: 20px;
    bottom: 10rem;
}

.steps__title {
    position: relative;
    bottom: 8rem;
    text-align: start;
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: 900;
    width: 100%;
}

.steps__number--container {
    position: relative;
    bottom: 5rem;
    line-height: 3rem;
    list-style: none;
}

.steps__number {
    position: relative;
    display: flex;
}


.step__number {
color: rgb(202, 202, 202);
font-size: 50px;
padding-right: 2rem;
}

.step__name {
    font-size: 20px;
}

.step__paragraph {

}
/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
}


/* 

START / CALL TO ACTION ↓

*/



#start .row {
    position: relative;
    overflow: hidden;
}


/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}


/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
}
