@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 90px 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}


/* 

NAVBAR ↓

*/

#landing {
    transform: none;
}

nav {
    display: flex;
    padding-top: 32px;
    
}

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    
}

.nav__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav__logo--image {
    width: 2.5rem;
    margin-right: 0.75rem;
}

.nav__logo--title {
    font-size: 1.5rem;
    font-weight: 900;
}

.nav__logo--title:hover {
    color: rgb(100 21 255);
}

.navlinks {
    display: flex;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.navlink {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.25rem;
    margin: 0px 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-bottom-width: 2px;
    letter-spacing: 0.025em;
    text-decoration: none;
    color: #1a202c;
}

.navlink:hover{
    border-color: rgb(100 21 255);
    color: rgb(100 21 255 );
    border-bottom: solid 3px;
    border-radius: 2px;
      padding: 5px 0;
}

.navlink--auth {
    color: #1a202c;
    text-decoration: none;
    margin: 0px .75rem;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 3rem;
}
.navlink--auth:hover {
    border-color: rgb(100 21 255);
    color: rgb(100 21 255 );
    padding: 5px 0;
    border-bottom: solid 3px;
    border-radius: 2px;
}

.navlink--signup {
    padding: 0.75rem 2rem;
    font-weight: 600;
    font-size: 1rem;
    background-color: #6415ff;
    color: #f7fafc;
    margin-left: 1rem;
    border-radius: 5px;
    border-bottom-width: 0px;
    border: none;
    text-decoration: none;
}

.navlink--signup:hover {
    background-color: #4b0db9;
}

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}


/* 

HEADER / ABOUT US ↓

*/
.two-column {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: flex;
    max-width: 1280px;
    width: 100%;
    padding-right: 20px;
    flex: 1;
    height: 60vh;
}

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 40%;
}

.header__content--title {
   font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.25;
    --tw-text-opacity: 1;
    color: rgb(26 32 44);
}

.header__content--paragraph {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 1rem;
}

.header__content--input {
    position: relative;
}

.header__content--input-field {
    width: 80%;
    position: relative;
    border-radius: 9999px;
    border-width: 2px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    font-weight: 500;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
}

.header__content--input-btn {
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 8rem;
    padding-top: 11px;
    display: flex;
    position: absolute;
    width: 25%;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 9999px;
    background-color: rgb(100 21 255);
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(247 250 252 / var(--tw-text-opacity));
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-duration: 300ms;
}

.header__content--input-paragraph {
    margin-top: 5rem;
    font-size: 0.75rem;
    font-weight: 500;
    opacity: .5;
    color: gray;
}

.header__content--image {
    width: 100%;
    min-width: 0px;
    max-width: 32rem;
    opacity: .5;
    padding: 2px;
}

.header__content2 {
    flex: 1;
    display: flex;
    justify-content: center;
}


.header__content2--image {
    width: 100%;
}

/* 

FEATURES ↓

*/


#features {
    position: relative;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 

QUALITY WORK ↓

*/


#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 

STEPS ↓

*/


#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
}


/* 

START / CALL TO ACTION ↓

*/



#start .row {
    position: relative;
    overflow: hidden;
}


/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}


/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
}